body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  margin: 0px;
  font-weight: 700;
  font-size: 3em;
  line-height: 64px;
}

h3 {
  font-family: "Source Sans 3", sans-serif;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 32px;
}

p {
  line-height: 22px;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: flex-end;
}
nav ul {
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav ul li a {
  padding-right: 26px;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  -webkit-text-decoration: solid underline 2px;
          text-decoration: solid underline 2px;
  text-underline-offset: 6px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

.container {
  z-index: 10;
  margin: 0 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 5%;
  }
}

.smaller-container {
  z-index: 10;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .smaller-container {
    margin: 0 3%;
  }
}

.skeleton {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  animation: skeleton-loading 1.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: flex-start;
}
.header .header__nav-mobile {
  display: none;
}
.header > a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  flex: 0.54;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
  }
  .header nav {
    display: none;
  }
  .header .header__nav-mobile {
    display: block;
    width: 22px;
    min-height: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .header .header__nav-mobile span {
    width: 30px;
    min-height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
  }
  .header .header__nav-mobile span:nth-of-type(1) {
    top: calc(50% - 6px);
  }
  .header .header__nav-mobile span:nth-of-type(2) {
    top: 50%;
  }
  .header .header__nav-mobile span:nth-of-type(3) {
    top: calc(50% + 6px);
  }
}
.footer {
  color: hsl(0, 0%, 50%);
  height: 200px;
  background-color: #464547;
  font-size: 1em;
  line-height: 19px;
}
.footer .container {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container > div {
  flex: 0.9;
  margin-top: 38px;
  height: 150px;
}
.footer .container .footer__logo {
  color: white;
  font-size: 1.1em;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  align-items: flex-start;
}
.footer .container .footer__logo span {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}
.footer .container .footer__logo img {
  max-width: 100%;
  height: auto;
  padding-right: 16px;
}
.footer .container .footer__contact {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.footer .container .footer__contact i {
  margin-bottom: 20px;
  font-style: normal;
}
.footer .container .footer__contact .footer__email {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}
.footer .container .footer__copyright {
  display: flex;
  align-items: flex-end;
  padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 300px;
  }
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
  .footer .container > div {
    flex: 1;
    margin-top: 55px;
    height: auto;
  }
  .footer .container .footer__contact {
    margin-top: 30px;
  }
  .footer .container .footer__copyright {
    padding-bottom: 20px;
    justify-content: center;
  }
  .footer .container i {
    margin-bottom: 10px;
  }
}
.hero-section {
  color: white;
  position: relative;
  background-image: url("../assets/Welcome_background.jpg");
  height: 822px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero-section .container {
  position: relative;
}
.hero-section .container > div {
  margin-top: 212px;
}
.hero-section .container > div .hero__subheadline {
  color: hsl(0, 0%, 70%);
  margin-top: 35px;
}
.hero-section .container > div .hero__logo {
  transition: transform 0.3s, scale 0.3s;
}
.hero-section .container > div .hero__logo:hover {
  transform: rotate(180deg) scale(1.3);
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 375px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Welcome_background-rays-effect.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: raysAnimationDesktop 5s ease-in-out infinite;
}
.hero-section::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 195px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Welcome_background-stars-effect.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: starsAnimationDesktop 5s infinite;
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 800px;
    background-position: right;
  }
  .hero-section .container > div {
    margin-top: 200px;
  }
  .hero-section .container .hero__headline {
    margin-top: 15px;
  }
  .hero-section .container .hero__subheadline {
    margin-top: 25px;
  }
  .hero-section::before {
    top: 10px;
    left: -5px;
    background-position: right;
    animation: raysAnimationMobile 5s ease infinite;
  }
  .hero-section::after {
    top: -50px;
    left: -35px;
    background-position: right;
    animation: starsAnimationMobile 5s infinite;
  }
}
@keyframes starsAnimationDesktop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes raysAnimationDesktop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starsAnimationMobile {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes raysAnimationMobile {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-section {
  color: #464547;
  background-color: #eeeeee;
  height: 678px;
}
.main-section .container {
  padding-bottom: 25px;
}
.main-section .container .main-section__headline {
  margin-top: 65px;
}
.main-section .container .main-section__subheadline {
  color: #666666;
  margin-top: 30px;
}
.main-section .container .main-section__content {
  color: hsl(0, 0%, 70%);
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.main-section .container .main-section__content p {
  width: 416px;
  text-align: left;
}
.main-section .container .main-section__content:last-child {
  justify-content: center;
}
.main-section .container .main-section__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 115px;
  height: 36px;
  background-color: #55c2d8;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: none;
  border-radius: 18px;
  transition: transform 0.3s;
}
.main-section .container .main-section__button:hover {
  animation: rotateButton 0.3s forwards;
}
.main-section .container .main-section__button:not(:hover) {
  animation: rotateButtonReverse 0.3s forwards;
}

@media screen and (max-width: 768px) {
  .main-section {
    height: 990px;
  }
  .main-section .container .main-section__content {
    flex-direction: column;
  }
  .main-section .container .main-section__content p {
    width: 100%;
  }
  .main-section .container .main-section__content .main-section__button {
    margin-top: 20px;
  }
  .main-section .container .main-section__content:last-child {
    align-items: center;
  }
  .main-section .container .main-section__subheadline {
    margin-top: 45px;
  }
}
@keyframes rotateButton {
  from {
    transform-origin: top left;
    transform: rotate(0deg);
  }
  to {
    transform-origin: top left;
    transform: rotate(13deg);
  }
}
@keyframes rotateButtonReverse {
  from {
    transform-origin: top left;
    transform: rotate(13deg);
  }
  to {
    transform-origin: top left;
    transform: rotate(0deg);
  }
}
.culture-section {
  color: white;
  background-image: url("../assets/Lecture_background.jpg");
  background-color: hsla(23, 53%, 36%, 0.3);
  background-blend-mode: overlay;
  height: 637px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.culture-section .container {
  align-items: center;
}
.culture-section .container .culture-section__headline {
  margin-top: 80px;
}
.culture-section .container .culture-section__subheadline {
  color: hsl(0, 0%, 70%);
  margin-top: 50px;
}
.culture-section .container .culture-section__button {
  margin-top: 45px;
  padding-left: 20px;
  height: 150px;
  width: 150px;
  background-color: #55c2d8;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 4em;
}

@media screen and (max-width: 768px) {
  .culture-section .container .culture-section__headline {
    margin-top: 70px;
  }
  .culture-section .container .culture-section__button {
    margin-top: 80px;
    height: 100px;
    width: 100px;
    font-size: 3em;
  }
  .culture-section .container .culture-section__subheadline {
    margin-top: 55px;
  }
}
.culture-section .container button:hover {
  background-color: white;
  color: #55c2d8;
  transition: background-color 0.6s, color 0.6s, transform 0.3s;
  transform: scale(0.95);
}

.culture-section .container button:not(:hover) {
  transition: background-color 0.6s, color 0.6s, transform 0.3s;
  transform: scale(1);
}

.join-section {
  position: relative;
  color: white;
  background-image: url("../assets/Join_background.jpg");
  background-blend-mode: overlay;
  height: 436;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.join-section .join-section__input-hidden {
  display: none;
}
.join-section .join-section__remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: rgb(243, 64, 51);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.join-section .join-section__switch-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: rgb(78, 78, 219);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.join-section .container {
  align-items: center;
}
.join-section .container .join-section__headline {
  margin-top: 87px;
}
.join-section .container .join-section__subheadline {
  color: hsl(0, 0%, 70%);
  margin-top: 45px;
}
.join-section .container .join-section__form {
  position: relative;
  margin-top: 52px;
  margin-bottom: 100px;
}
.join-section .container .join-section__form .join-section__error-message {
  position: absolute;
  margin: 10px;
  text-align: center;
  width: 80%;
}
.join-section .container .join-section__form .join-section__form-input {
  width: 400px;
  height: 36px;
  margin-right: 30px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: none;
  outline: none;
  color: white;
}
.join-section .container .join-section__form .join-section__form-input::-moz-placeholder {
  color: white;
}
.join-section .container .join-section__form .join-section__form-input::placeholder {
  color: white;
}
.join-section .container .join-section__form .join-section__form-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  min-width: 115px;
  height: 36px;
  background-color: #55c2d8;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: none;
  border-radius: 18px;
}

@media screen and (max-width: 768px) {
  .join-section {
    background-position: 25% 75%;
  }
  .join-section .container .join-section__headline {
    margin-top: 88px;
  }
  .join-section .container .join-section__form-button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .join-section .container .join-section__form .join-section__form-input {
    width: 300px;
  }
}
.big-community {
  color: #464547;
  height: 850px;
}

.smaller-container .big-community__headline {
  margin-top: 88px;
}
.smaller-container .big-community__subheadline {
  color: #666666;
  margin-top: 41px;
}
.smaller-container .big-community__user-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 58px;
}
.smaller-container .big-community__user-card {
  width: 315px;
  height: 400px;
  margin-right: 11px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}
.smaller-container .big-community__user-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.smaller-container .big-community__user-card-inner {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.smaller-container .big-community__user-card-avatar {
  width: 150px;
  height: auto;
}
.smaller-container .big-community__user-card-avatar.skeleton {
  height: 150px;
}
.smaller-container .big-community__user-card-info {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smaller-container .big-community__user-card-description {
  height: 75px;
  font-size: 16px;
}
.smaller-container .big-community__user-card-description.skeleton {
  width: 250px;
  height: 60px;
}
.smaller-container .big-community__user-card-name {
  margin-top: 39px;
  font-size: 12px;
  line-height: 17.5px;
  letter-spacing: 0.1em;
}
.smaller-container .big-community__user-card-name.skeleton {
  width: 100px;
  height: 20px;
}
.smaller-container .big-community__user-card-position {
  font-size: 12px;
  padding: 0 55px;
  line-height: 16px;
}
.smaller-container .big-community__user-card-position.skeleton {
  margin-top: 10px;
  width: 50px;
  height: 35px;
}

@media (max-width: 1105px) {
  .big-community__user-card:nth-child(1) {
    display: none;
  }
}
@media (max-width: 768px) {
  .big-community__user-card:nth-child(2) {
    display: none;
  }
}
@media (max-width: 560px) {
  .big-community__subheadline br {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */