body {
  font-family: $body-font;
  font-size: 16px;
}

h1,
h2 {
  font-family: $heading-font;
  margin: 0px;
  font-weight: 700;
  font-size: 3em;
  line-height: 64px;
}

h3 {
  font-family: $body-font;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 32px;
}

p {
  line-height: 22px;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: flex-end;

  ul {
    font-family: $body-font;
    font-size: 0.9em;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    li a {
      padding-right: 26px;
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: solid underline 2px;
        text-underline-offset: 6px;
      }
    }
  }
}
