@media screen and (max-width: 768px) {
  .footer {
    height: 300px;
    .container {
      flex-direction: column;
      text-align: center;

      > div {
        flex: 1;
        margin-top: 55px;
        height: auto;

      }
      .footer__contact {
        margin-top: 30px;
      }
      .footer__copyright {
        padding-bottom: 20px;
        justify-content: center;
      }

      i {
        margin-bottom: 10px;
      }
    }
  }
}
