.footer {
  color: $footer-color;
  height: 200px;
  background-color: $secondary-color;
  font-size: 1em;
  line-height: 19px;

  .container {
    display: flex;
    text-align: start;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
      flex: 0.9;
      margin-top: 38px;
      height: 150px;
    }
    .footer__logo {
      color: $primary-color;
      font-size: 1.1em;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      align-items: flex-start;

      span {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
      }

      img {
        max-width: 100%;
        height: auto;
        padding-right: 16px;
      }
    }

    .footer__contact {
      flex: 2;
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      i {
        margin-bottom: 20px;
        font-style: normal;
      }

      .footer__email {
        text-decoration: none;
        color: $footer-color;
      }
    }

    .footer__copyright {
      display: flex;
      align-items: flex-end;
      padding-bottom: 45px;
    }
  }
}
