.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: flex-start;

  .header__nav-mobile {
    display: none;
  }

  > a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $primary-color;

    flex: 0.54;
    padding-right: 10px;
  }
}
