@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;

    nav {
      display: none;
    }

    .header__nav-mobile {
      display: block;
      width: 22px;
      min-height: 20px;
      position: relative;
      z-index: 2;
      overflow: hidden;

      span {
        width: 30px;
        min-height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        transition: all 0.5s;

        &:nth-of-type(1) {
          top: calc(50% - 6px);
        }

        &:nth-of-type(2) {
          top: calc(50%);
        }

        &:nth-of-type(3) {
          top: calc(50% + 6px);
        }
      }
    }
  }
}
