.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.container {
  z-index: 10;
  margin: 0 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin: 0 5%;
  }
}

.smaller-container {
  z-index: 10;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin: 0 3%;
  }
}
