.big-community {
  color: $secondary-color;
  height: 850px;
}

.smaller-container {
  .big-community__headline {
    margin-top: 88px;
  }

  .big-community__subheadline {
    color: #666666;
    margin-top: 41px;
  }

  .big-community__user-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 58px;
  }
  .big-community__user-card {
    width: 315px;
    height: 400px;
    margin-right: 11px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
  }

  .big-community__user-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .big-community__user-card-inner {
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .big-community__user-card-avatar {
    width: 150px;
    height: auto;

    &.skeleton {
      height: 150px;
    }
  }
  .big-community__user-card-info {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big-community__user-card-description {
    height: 75px;
    font-size: 16px;

    &.skeleton {
      width: 250px;
      height: 60px;
    }
  }

  .big-community__user-card-name {
    margin-top: 39px;
    font-size: 12px;
    line-height: 17.5px;
    letter-spacing: 0.1em;

    &.skeleton {
      width: 100px;
      height: 20px;
    }
  }

  .big-community__user-card-position {
    font-size: 12px;
    padding: 0 55px;
    line-height: 16px;

    &.skeleton {
      margin-top: 10px;
      width: 50px;
      height: 35px;
    }
  }
}
