@media (max-width: 1105px) {
  .big-community__user-card:nth-child(1) {
    display: none;
  }
}
@media (max-width: 768px) {
  .big-community__user-card:nth-child(2) {
    display: none;
  }
}

@media (max-width: 560px) {

  .big-community__subheadline br {
    display: none;
  }
}
