
.culture-section {
  color: $primary-color;
  background-image: url('../assets/Lecture_background.jpg');
  background-color: hsla(23, 53%, 36%, 0.3);
  background-blend-mode: overlay;
  height: 637px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    align-items: center;

    .culture-section__headline {
      margin-top: 80px;
    }

    .culture-section__subheadline {
      color: $third-color;
      margin-top: 50px;
    }

    .culture-section__button {
      margin-top: 45px;
      padding-left: 20px;
      height: 150px;
      width: 150px;
      background-color: $bg-color;
      color: $primary-color;
      border: none;
      border-radius: 50%;
      font-size: 4em;
    }
  }
}