.culture-section .container button:hover {
  background-color: $primary-color;
  color: $bg-color;

  transition: background-color 0.6s, color 0.6s, transform 0.3s;
  transform: scale(0.95);
}

.culture-section .container button:not(:hover) {
  transition: background-color 0.6s, color 0.6s, transform 0.3s;

  transform: scale(1);
}
