@media screen and (max-width: 768px) {
  .culture-section {
    .container {
      .culture-section__headline {
        margin-top: 70px;
      }

      .culture-section__button {
        margin-top: 80px;
        height: 100px;
        width: 100px;
        font-size: 3em;
      }

      .culture-section__subheadline {
        margin-top: 55px;
      }
    }
  }
}
