@media screen and (max-width: 768px) {
  .hero-section {
    height: 800px;
    background-position: right;

    .container {
      > div {
        margin-top: 200px;
      }

      .hero__headline {
        margin-top: 15px;
      }

      .hero__subheadline {
        margin-top: 25px;
      }
    }

    &::before {
      top: 10px;
      left: -5px;
      background-position: right;
      animation: raysAnimationMobile 5s ease infinite;
    }

    &::after {
      top: -50px;
      left: -35px;
      background-position: right;
      animation: starsAnimationMobile 5s infinite;
    }
  }
}
