.hero-section {
  color: $primary-color;
  position: relative;
  background-image: url('../assets/Welcome_background.jpg');
  height: 822px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    position: relative;

    > div {
      margin-top: 212px;

      .hero__subheadline {
        color: $third-color;
        margin-top: 35px;
      }
      .hero__logo {
        transition: transform 0.3s, scale 0.3s;

        &:hover {
          transform: rotate(180deg) scale(1.3);
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 375px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/Welcome_background-rays-effect.svg');
    background-repeat: no-repeat;
    background-position: center;
    animation: raysAnimationDesktop 5s ease-in-out infinite;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 195px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/Welcome_background-stars-effect.svg');
    background-repeat: no-repeat;
    background-position: center;
    animation: starsAnimationDesktop 5s infinite;
  }
}
