@keyframes starsAnimationDesktop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes raysAnimationDesktop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes starsAnimationMobile {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes raysAnimationMobile {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
