@media screen and (max-width: 768px) {
  .join-section {
    background-position: 25% 75%;
    .container {
      .join-section__headline {
        margin-top: 88px;
      }

      .join-section__form-button {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .join-section {
  .container {
    .join-section__form {
      .join-section__form-input {
        width: 300px;
      }
    }
  }}
}
