.join-section {
  position: relative;
  color: $primary-color;
  background-image: url('../assets/Join_background.jpg');
  background-blend-mode: overlay;
  height: 436;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  .join-section__input-hidden {
    display: none;
  }
  
  .join-section__remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: rgb(243, 64, 51);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .join-section__switch-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: rgb(78, 78, 219);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .container {
    align-items: center;

    .join-section__headline {
      margin-top: 87px;
    }

    .join-section__subheadline {
      color: $third-color;
      margin-top: 45px;
    }

    .join-section__form {
      position: relative;
      margin-top: 52px;
      margin-bottom: 100px;

      .join-section__error-message {
        position: absolute;
        margin: 10px; 
        text-align: center; 
        width: 80%; 
      }

      .join-section__form-input {
        width: 400px;
        height: 36px;
        margin-right: 30px;
        padding-left: 20px;
        background-color: #ffffff26;
        border: none;
        outline: none;
        color: white;
      }

      .join-section__form-input::placeholder {
        color: white;
      }

      .join-section__form-button {
        font-family: $heading-font;
        font-weight: 400;
        min-width: 115px;
        height: 36px;
        background-color: $bg-color;
        color: $primary-color;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        border: none;
        border-radius: 18px;
      }
    }
  }
}
