@keyframes rotateButton {
  from {
    transform-origin: top left;
    transform: rotate(0deg);
  }
  to {
    transform-origin: top left;
    transform: rotate(13deg);
  }
}

@keyframes rotateButtonReverse {
  from {
    transform-origin: top left;
    transform: rotate(13deg);
  }
  to {
    transform-origin: top left;
    transform: rotate(0deg);
  }
}
