@media screen and (max-width: 768px) {
  .main-section {
    height: 990px;

    .container {
      .main-section__content {
        flex-direction: column;

        p {
          width: 100%;
        }

        .main-section__button {
          margin-top: 20px;
        }

        &:last-child {
          align-items: center;
        }
      }

      .main-section__subheadline {
        margin-top: 45px;
      }
    }
  }
}
