.main-section {
  color: $secondary-color; 
  background-color: #eeeeee;
  height: 678px;

  .container {
    padding-bottom: 25px;

    .main-section__headline {
      margin-top: 65px;
    }

    .main-section__subheadline {
      color: #666666;
      margin-top: 30px;
    }

    .main-section__content {
      color: $third-color;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;

      p {
        width: 416px;
        text-align: left;
      }

      &:last-child {
        justify-content: center;
      }
    }

    .main-section__button {
      font-family: $heading-font;
      font-weight: 400;
      width: 115px;
      height: 36px;
      background-color: $bg-color;
      color: $primary-color; 
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      border: none;
      border-radius: 18px;
      transition: transform 0.3s;

      &:hover {
        animation: rotateButton 0.3s forwards;
      }

      &:not(:hover) {
        animation: rotateButtonReverse 0.3s forwards;
      }
    }
  }
}