$body-font: 'Source Sans 3', sans-serif;
$heading-font: 'Oswald', sans-serif;

$primary-color: white;
$secondary-color: #464547;
$third-color: hsl(0, 0%, 70%);
$footer-color: hsl(0, 0%, 50%);

$culture-bg-color: hsla(23, 53%, 36%, 0.3);
$bg-color: #55c2d8;

